/* HungryWorm.css */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#game-container {
  position: relative;
  width: 300px;
  height: 300px;
  border: 2px solid #333;
  background-color: black;
}

.snake-segment {
  position: absolute;
  background-color: #4CAF50;
  width: 20px;
  height: 20px;
}

.snake-head {
  background-color: #4CAF50;
}

#food {
  position: absolute;
  background-color: #f00;
  width: 20px;
  height: 20px;
}
