/* Reset some default styles for the body and header */
body {
    font-family: Arial, sans-serif;
    background-color: #2a2727;
    margin: 0;
    padding: 0;
}

header {
    font-family: "Press Start 2P";
    background-color: #003366;
    color: #FFD700;
    padding: 20px 0;
    text-align: center;
}

footer {
    font-family: "Press Start 2P";
    background-color: #003366;
    color: #FFD700;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 10px;
}

#container {
    /* width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(20% - 20px), 1fr));
    gap: 20px; */
    
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
#container h3 {
    
    font-size: 1em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 10px 0;
}

#container h1 {
    box-shadow: 3px 15px 5px 0px rgba(50, 50, 50, 0.75);
    font-size: 4em;
    margin: 0;
    padding: 0;
    margin: 10px 0;
}

.contact-info {
    /* background-color: #f8f8f8; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 12%;
    margin-bottom: 10px;
}
   
.contact-info h2 {
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}
   
.contact-info p {
    margin: 5px;
}
.contact-info p strong {
    color: #666;
}

   /* Team Members CSS */
.team {
    
    /*text-align: center;
    min-height: 75px;
    height: fit-content;
    align-items: center; */
    font-family: Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: flex-start;*/
    justify-content: center;
    margin-bottom: 15px;
}
   
.team-member {
    
    display: flex;
    flex-direction: column;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100px;   /* Adjust the width as needed */
    height: 100px;  /* Adjust the height as needed */
    background-size: cover; /* Scale the background image to cover the div */
    background-position: center center; /* Center the background image */
    margin: 5%;
}
   
.team-member img {
max-width: 100%;
height: auto;
border: 1px solid #ddd;
border-radius: 50%;
padding: 5px;
/*width: 150px;*/
}


.team-member p {
margin: 8px 0;
color: #333;
text-align: left;
font-size: 0.9em; /* Adjust the font size as needed */
line-height: 1.4; /* Improve readability with a slightly larger line height */
}

.team-member h3 {
    margin-top: 10px;
    color: #333;
    font-size: 1.2em; /* Adjust the font size as needed */
}

/*NavBar*/
ul.topnav {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #003366;
}

ul.topnav li {float: left;}

ul.topnav li a {
display: block;
color: #FFC72C;
text-align: center;
padding: 1px 16px;
text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #2A2727;}

ul.topnav li a.active {background-color: #7e7e7e;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
ul.topnav li.right, 
ul.topnav li {float: none;}
}
