
/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #2a2727;
    margin: 0;
    padding: 0;
}

header {
    font-family: "Press Start 2P";
    background-color: #003366;
    color: #FFD700;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

h1 {
    font-size: 36px;
}

footer {
    font-family: "Press Start 2P";
    background-color: #003366;
    color: #FFD700;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: -10px;
    
  }

.content-frame {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

/* Side Panel Styles */
#side-panel {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

#pdf-list {
    padding: 0;
    list-style: none;
}

#pdf-list li {
    margin: 10px 0;
}

#pdf-list a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

#pdf-list a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Main Content Styles */
#main-content {
    flex: 1;
    background-color: #fff;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

#pdf-container {
    width: 100%;
    height: auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .content-frame {
        flex-direction: row; /* Change flex-direction to 'row' to keep side panel on the side */
    }
}

.collapsed {
    overflow: hidden;
    display: none;
    transition: width 0.5s;
}

.expanded {
    display: block;
    width: 20%; /* Adjust the initial width as needed */
    transition: width 0.5s;
}

/* Add styles for the button */
#panel-button {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#panel-button:hover {
    background-color: #555;
}


/* Style for the side panel */
#side-panel {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: relative; /* Position relative to allow for absolute positioning of the button */
}
/*NavBar*/
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003366;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: #FFC72C;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #2A2727;}
  
  ul.topnav li a.active {background-color: #7e7e7e;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }